.container {
  background-color: #d7d7d7;
  padding: 30px;
}

.design1-container {
    display: table;
    overflow: hidden;
    color: #000
}

.design1-container .innerContainer:nth-child(1) {
  display: table-cell;
  width: 70%;
  text-align: left;
  background-color: white;
  padding: 10px;
}

.design1-container .innerContainer:nth-child(2),
.design1-container .innerContainer:nth-child(3) {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(115, 207, 115);
}

.design1-container .innerContainer:nth-child(3) {
  background-color: rgb(186, 186, 186);
}

.design1-container .innerContainer a,
.design1-container .innerContainer a:hover,
.design1-container .innerContainer a:visited,
.design1-container .innerContainer a:link {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.json-preview-container {
  background-color: black;
  color: #fff;
  padding: 15px;
}

.design2-item-container {
  height: 50px;
  background-color: #fff;
  margin-bottom: 10px;
  line-height: 50px;
  padding-left: 10px;
}

.design2-item-container a,
.design2-item-container a:hover,
.design2-item-container a:visited,
.design2-item-container a:link {
  color: #fff;
  text-decoration: none;
}

.add-item-button,
.remove-item-button,
.move-item-icon {
  font-size: 25px;
  height: 50px;
  width: 40px;
  color: #fff;
  background-color: rgb(115, 207, 115);
  display: inline-block;
  float: right;
  text-align: center;
}

.remove-item-button {
  background-color: red;
}

.move-item-icon {
  background-color: blue;
}

.ng-repeat-reorder-parent, [ng-repeat-reorder]{
  z-index: 10;
  position: relative;
}

[ng-repeat-reorder].dragging{
	z-index: 11;
	position: absolute;
}

.active-drag-below {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
