<div class="container-fluid">
  <h1>Design #2</h1>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div ng-repeat="item in content.data track by $index" class="design2-item-container">
        <span ng-bind-html="item"></span>
        <a href="" ng-click="removeItem($index)" class="remove-item-button">-</a>
        <a href="" ng-click="addNewItem($index)" class="add-item-button">+</a>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 json-preview-container">
      {{ content.data }}
    </div>
  </div>

</div>
