<div class="container-fluid">
  <h1>Design #1</h1>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 design1-container">
      <div class="innerContainer">
        <p ng-repeat="text in splitData() track by $index">
          <span contenteditable ng-model="text" ng-change="onTextChange($index, text)"></span>
        </p>
      </div>
      <div class="innerContainer">
        <a href="" ng-click="addNewItem()">+</a>
      </div>
      <div class="innerContainer">
        <a href="" ng-click="removeItem()">-</a>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 json-preview-container">
      {{ content.data }}
    </div>
  </div>
</div>
