<div class="container-fluid">
  <h1>Design #3</h1>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 transition">
      <div ng-repeat-reorder="item in content.data track by $index"
           ng-repeat-reorder-handle=""
           class="design2-item-container"
           ng-model="item">
        <span ng-bind-html="item" class="item-text" tabindex='{{ $index + 1 }}'></span>
        <a href="" ng-click="removeItem($index)" class="remove-item-button">-</a>
        <a href="" ng-click="addNewItem($index)" class="add-item-button">+</a>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 json-preview-container">
      {{ content.data }}
    </div>
  </div>
</div>
